@font-face {
  font-family: Shakila;
  src: url("./assets/fonts/Shakila.ttf");
  font-weight: 400 800;
  font-stretch: 0% 200%;
}

@import "tailwindcss";

@theme {
  --font-shakila: Shakila, "sans-serif";
  --breakpoint-xs: 425px;
}

body {
  background-color: black;
}

@layer utilities {
  .text-stroke-red-500 {
    -webkit-text-stroke-width: 0.5vw;
    -webkit-text-stroke-color: #ff2525;
    paint-order: stroke fill;
  }
}

